{% extends "base.html" %}
{% block title %}Check any Reviews{% endblock %}

{% block content %}
  <h1>Index</h1>
  <p class="important">
    Welcome on my awesome check amazon products. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta neque ipsam aliquid rem, corporis nihil, suscipit perferendis eveniet deserunt nulla minus! Sed corrupti ab facere quas veniam aliquam dolorem tempore?
    Eum commodi accusantium ut quasi aliquid, dolore dignissimos temporibus voluptatem soluta quidem. Explicabo architecto est dignissimos totam ipsa, eius possimus, eligendi optio blanditiis, temporibus molestias quis id nesciunt doloribus deserunt.
    Reprehenderit temporibus dolorem dolorum! Nihil numquam perspiciatis at assumenda quo! Modi beatae voluptatibus dolorum. Quos, perferendis animi exercitationem excepturi debitis praesentium corrupti, modi cupiditate, voluptatibus quis labore non necessitatibus inventore?
    Aliquid voluptatum a exercitationem provident ratione placeat quis. Quo rem tempora perferendis laborum repudiandae, quam laudantium voluptate, optio assumenda unde aspernatur quidem molestiae cumque nostrum commodi ipsa explicabo sint sapiente!
    Illum necessitatibus voluptate quo! A incidunt consectetur aut quod magnam aspernatur possimus ratione. Expedita ea facere tempora, doloribus error nesciunt asperiores assumenda consequatur molestiae fugiat mollitia vel illo, nobis sed!
    Saepe ipsum error doloribus earum harum quisquam? Reprehenderit, nulla fuga. Dolores, hic quod officia corrupti delectus deserunt obcaecati nam porro laudantium magnam aspernatur consectetur perferendis est repellendus veritatis nemo beatae.
{% endblock %}